body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}

div#root {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.cardLeft {
  max-width: 70%;
}

.cardRight {
  max-width: 30%;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.text {
  text-decoration: none;
}

.text:focus {
  text-decoration: none;
  color: in;
}

.circle-outer {
  background: linear-gradient(to bottom, #292da0, #202731);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
}

.bcircle-outer {
  background: linear-gradient(to bottom, #ffa000, #ffa001);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  max-width: 320px;
  max-height: 320px;
  border-radius: 100%;
}

.top-glow {
  box-shadow: 0 -7px 20px rgba(150, 83, 238, 0.26);
}

.border-aninmation {
  background: repeating-conic-gradient(from var(--a), #ffa000 0%, #ffa000 5%,
      transparent 5%, transparent 40%, #ffa000);
  animation: animate 4s linear infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}

.wrapper {
  width: fit-content;
  border-radius: 8px;
  padding: 30px;
  
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

}

div label {
  Color: #ffffff;

}

.form-control {
  background-color: transparent;


}

.input.box {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #633112;
  --tw-shadow: var(--tw-shadow-colored);
}