body,
html {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}

div#root {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.cardLeft {
  max-width: 70%;
}

.cardRight {
  max-width: 30%;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.text {
  text-decoration: none;
}

.text:focus {
  text-decoration: none;
  color: in;
}

.circle-outer {
  background: linear-gradient(to bottom, #292da0, #202731);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.26);
}

.bcircle-outer {
  background: linear-gradient(to bottom, #ffa000, #ffa001);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  max-width: 320px;
  max-height: 320px;
  border-radius: 100%;
}

.top-glow {
  box-shadow: 0 -7px 20px rgba(150, 83, 238, 0.26);
}

.border-aninmation {
  background: repeating-conic-gradient(from var(--a), #ffa000 0%, #ffa000 5%,
      transparent 5%, transparent 40%, #ffa000);
  animation: animate 4s linear infinite;
}

@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }

  100% {
    --a: 360deg;
  }
}

.wrapper {
  width: fit-content;
  border-radius: 8px;
  padding: 30px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

}

div label {
  Color: #ffffff;

}

.form-control {
  background-color: transparent;


}

.input.box {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #633112;
  --tw-shadow: var(--tw-shadow-colored);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.animate {
	color: #ffa000;
	animation: animated 4s ease-in-out infinite;
}

@keyframes animated {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 100s linear infinite;
  box-shadow: 779px 1331px #ffa000, 324px 42px #ffa000, 303px 586px #ffa000,
    1312px 276px #ffa000, 451px 625px #ffa000, 521px 1931px #ffa000, 1087px 1871px #ffa000,
    36px 1546px #ffa000, 132px 934px #ffa000, 1698px 901px #ffa000, 1418px 664px #ffa000,
    1448px 1157px #ffa000, 1084px 232px #ffa000, 347px 1776px #ffa000, 1722px 243px #ffa000,
    1629px 835px #ffa000, 479px 969px #ffa000, 1231px 960px #ffa000, 586px 384px #ffa000,
    164px 527px #ffa000, 8px 646px #ffa000, 1150px 1126px #ffa000, 665px 1357px #ffa000,
    1556px 1982px #ffa000, 1260px 1961px #ffa000, 1675px 1741px #ffa000,
    1843px 1514px #ffa000, 718px 1628px #ffa000, 242px 1343px #ffa000, 1497px 1880px #ffa000,
    1364px 230px #ffa000, 1739px 1302px #ffa000, 636px 959px #ffa000, 304px 686px #ffa000,
    614px 751px #ffa000, 1935px 816px #ffa000, 1428px 60px #ffa000, 355px 335px #ffa000,
    1594px 158px #ffa000, 90px 60px #ffa000, 1553px 162px #ffa000, 1239px 1825px #ffa000,
    1945px 587px #ffa000, 749px 1785px #ffa000, 1987px 1172px #ffa000, 1301px 1237px #ffa000,
    1039px 342px #ffa000, 1585px 1481px #ffa000, 995px 1048px #ffa000, 524px 932px #ffa000,
    214px 413px #ffa000, 1701px 1300px #ffa000, 1037px 1613px #ffa000, 1871px 996px #ffa000,
    1360px 1635px #ffa000, 1110px 1313px #ffa000, 412px 1783px #ffa000, 1949px 177px #ffa000,
    903px 1854px #ffa000, 700px 1936px #ffa000, 378px 125px #ffa000, 308px 834px #ffa000,
    1118px 962px #ffa000, 1350px 1929px #ffa000, 781px 1811px #ffa000, 561px 137px #ffa000,
    757px 1148px #ffa000, 1670px 1979px #ffa000, 343px 739px #ffa000, 945px 795px #ffa000,
    576px 1903px #ffa000, 1078px 1436px #ffa000, 1583px 450px #ffa000, 1366px 474px #ffa000,
    297px 1873px #ffa000, 192px 162px #ffa000, 1624px 1633px #ffa000, 59px 453px #ffa000,
    82px 1872px #ffa000, 1933px 498px #ffa000, 1966px 1974px #ffa000, 1975px 1688px #ffa000,
    779px 314px #ffa000, 1858px 1543px #ffa000, 73px 1507px #ffa000, 1693px 975px #ffa000,
    1683px 108px #ffa000, 1768px 1654px #ffa000, 654px 14px #ffa000, 494px 171px #ffa000,
    1689px 1895px #ffa000, 1660px 263px #ffa000, 1031px 903px #ffa000, 1203px 1393px #ffa000,
    1333px 1421px #ffa000, 1113px 41px #ffa000, 1206px 1645px #ffa000, 1325px 1635px #ffa000,
    142px 388px #ffa000, 572px 215px #ffa000, 1535px 296px #ffa000, 1419px 407px #ffa000,
    1379px 1003px #ffa000, 329px 469px #ffa000, 1791px 1652px #ffa000, 935px 1802px #ffa000,
    1330px 1820px #ffa000, 421px 1933px #ffa000, 828px 365px #ffa000, 275px 316px #ffa000,
    707px 960px #ffa000, 1605px 1554px #ffa000, 625px 58px #ffa000, 717px 1697px #ffa000,
    1669px 246px #ffa000, 1925px 322px #ffa000, 1154px 1803px #ffa000, 1929px 295px #ffa000,
    1248px 240px #ffa000, 1045px 1755px #ffa000, 166px 942px #ffa000, 1888px 1773px #ffa000,
    678px 1963px #ffa000, 1370px 569px #ffa000, 1974px 1400px #ffa000, 1786px 460px #ffa000,
    51px 307px #ffa000, 784px 1400px #ffa000, 730px 1258px #ffa000, 1712px 393px #ffa000,
    416px 170px #ffa000, 1797px 1932px #ffa000, 572px 219px #ffa000, 1557px 1856px #ffa000,
    218px 8px #ffa000, 348px 1334px #ffa000, 469px 413px #ffa000, 385px 1738px #ffa000,
    1357px 1818px #ffa000, 240px 942px #ffa000, 248px 1847px #ffa000, 1535px 806px #ffa000,
    236px 1514px #ffa000, 1429px 1556px #ffa000, 73px 1633px #ffa000, 1398px 1121px #ffa000,
    671px 1301px #ffa000, 1404px 1663px #ffa000, 740px 1018px #ffa000, 1600px 377px #ffa000,
    785px 514px #ffa000, 112px 1084px #ffa000, 1915px 1887px #ffa000, 1463px 1848px #ffa000,
    687px 1115px #ffa000, 1268px 1768px #ffa000, 1729px 1425px #ffa000,
    1284px 1022px #ffa000, 801px 974px #ffa000, 1975px 1317px #ffa000, 1354px 834px #ffa000,
    1446px 1484px #ffa000, 1283px 1786px #ffa000, 11px 523px #ffa000, 1842px 236px #ffa000,
    1355px 654px #ffa000, 429px 7px #ffa000, 1033px 1128px #ffa000, 157px 297px #ffa000,
    545px 635px #ffa000, 52px 1080px #ffa000, 827px 1520px #ffa000, 1121px 490px #ffa000,
    9px 309px #ffa000, 1744px 1586px #ffa000, 1014px 417px #ffa000, 1534px 524px #ffa000,
    958px 552px #ffa000, 1403px 1496px #ffa000, 387px 703px #ffa000, 1522px 548px #ffa000,
    1355px 282px #ffa000, 1532px 601px #ffa000, 1838px 790px #ffa000, 290px 259px #ffa000,
    295px 598px #ffa000, 1601px 539px #ffa000, 1561px 1272px #ffa000, 34px 1922px #ffa000,
    1024px 543px #ffa000, 467px 369px #ffa000, 722px 333px #ffa000, 1976px 1255px #ffa000,
    766px 983px #ffa000, 1582px 1285px #ffa000, 12px 512px #ffa000, 617px 1410px #ffa000,
    682px 577px #ffa000, 1334px 1438px #ffa000, 439px 327px #ffa000, 1617px 1661px #ffa000,
    673px 129px #ffa000, 794px 941px #ffa000, 1386px 1902px #ffa000, 37px 1353px #ffa000,
    1467px 1353px #ffa000, 416px 18px #ffa000, 187px 344px #ffa000, 200px 1898px #ffa000,
    1491px 1619px #ffa000, 811px 347px #ffa000, 924px 1827px #ffa000, 945px 217px #ffa000,
    1735px 1228px #ffa000, 379px 1890px #ffa000, 79px 761px #ffa000, 825px 1837px #ffa000,
    1980px 1558px #ffa000, 1308px 1573px #ffa000, 1488px 1726px #ffa000,
    382px 1208px #ffa000, 522px 595px #ffa000, 1277px 1898px #ffa000, 354px 552px #ffa000,
    161px 1784px #ffa000, 614px 251px #ffa000, 526px 1576px #ffa000, 17px 212px #ffa000,
    179px 996px #ffa000, 467px 1208px #ffa000, 1944px 1838px #ffa000, 1140px 1093px #ffa000,
    858px 1007px #ffa000, 200px 1064px #ffa000, 423px 1964px #ffa000, 1945px 439px #ffa000,
    1377px 689px #ffa000, 1120px 1437px #ffa000, 1876px 668px #ffa000, 907px 1324px #ffa000,
    343px 1976px #ffa000, 1816px 1501px #ffa000, 1849px 177px #ffa000, 647px 91px #ffa000,
    1984px 1012px #ffa000, 1336px 1300px #ffa000, 128px 648px #ffa000, 305px 1060px #ffa000,
    1324px 826px #ffa000, 1263px 1314px #ffa000, 1801px 629px #ffa000, 1614px 1555px #ffa000,
    1634px 90px #ffa000, 1603px 452px #ffa000, 891px 1984px #ffa000, 1556px 1906px #ffa000,
    121px 68px #ffa000, 1676px 1714px #ffa000, 516px 936px #ffa000, 1947px 1492px #ffa000,
    1455px 1519px #ffa000, 45px 602px #ffa000, 205px 1039px #ffa000, 793px 172px #ffa000,
    1562px 1739px #ffa000, 1056px 110px #ffa000, 1512px 379px #ffa000, 1795px 1621px #ffa000,
    1848px 607px #ffa000, 262px 1719px #ffa000, 477px 991px #ffa000, 483px 883px #ffa000,
    1239px 1197px #ffa000, 1496px 647px #ffa000, 1649px 25px #ffa000, 1491px 1946px #ffa000,
    119px 996px #ffa000, 179px 1472px #ffa000, 1341px 808px #ffa000, 1565px 1700px #ffa000,
    407px 1544px #ffa000, 1754px 357px #ffa000, 1288px 981px #ffa000, 902px 1997px #ffa000,
    1755px 1668px #ffa000, 186px 877px #ffa000, 1202px 1882px #ffa000, 461px 1213px #ffa000,
    1400px 748px #ffa000, 1969px 1899px #ffa000, 809px 522px #ffa000, 514px 1219px #ffa000,
    374px 275px #ffa000, 938px 1973px #ffa000, 357px 552px #ffa000, 144px 1722px #ffa000,
    1572px 912px #ffa000, 402px 1858px #ffa000, 1544px 1195px #ffa000, 667px 1257px #ffa000,
    727px 1496px #ffa000, 993px 232px #ffa000, 1772px 313px #ffa000, 1040px 1590px #ffa000,
    1204px 1973px #ffa000, 1268px 79px #ffa000, 1555px 1048px #ffa000, 986px 1707px #ffa000,
    978px 1710px #ffa000, 713px 360px #ffa000, 407px 863px #ffa000, 461px 736px #ffa000,
    284px 1608px #ffa000, 103px 430px #ffa000, 1283px 1319px #ffa000, 977px 1186px #ffa000,
    1966px 1516px #ffa000, 1287px 1129px #ffa000, 70px 1098px #ffa000, 1189px 889px #ffa000,
    1126px 1734px #ffa000, 309px 1292px #ffa000, 879px 764px #ffa000, 65px 473px #ffa000,
    1003px 1959px #ffa000, 658px 791px #ffa000, 402px 1576px #ffa000, 35px 622px #ffa000,
    529px 1589px #ffa000, 164px 666px #ffa000, 1876px 1290px #ffa000, 1541px 526px #ffa000,
    270px 1297px #ffa000, 440px 865px #ffa000, 1500px 802px #ffa000, 182px 1754px #ffa000,
    1264px 892px #ffa000, 272px 1249px #ffa000, 1289px 1535px #ffa000, 190px 1646px #ffa000,
    955px 242px #ffa000, 1456px 1597px #ffa000, 1727px 1983px #ffa000, 635px 801px #ffa000,
    226px 455px #ffa000, 1396px 1710px #ffa000, 849px 1863px #ffa000, 237px 1264px #ffa000,
    839px 140px #ffa000, 1122px 735px #ffa000, 1280px 15px #ffa000, 1318px 242px #ffa000,
    1819px 1148px #ffa000, 333px 1392px #ffa000, 1949px 553px #ffa000, 1878px 1332px #ffa000,
    467px 548px #ffa000, 1812px 1082px #ffa000, 1067px 193px #ffa000, 243px 156px #ffa000,
    483px 1616px #ffa000, 1714px 933px #ffa000, 759px 1800px #ffa000, 1822px 995px #ffa000,
    1877px 572px #ffa000, 581px 1084px #ffa000, 107px 732px #ffa000, 642px 1837px #ffa000,
    166px 1493px #ffa000, 1555px 198px #ffa000, 819px 307px #ffa000, 947px 345px #ffa000,
    827px 224px #ffa000, 927px 1394px #ffa000, 540px 467px #ffa000, 1093px 405px #ffa000,
    1140px 927px #ffa000, 130px 529px #ffa000, 33px 1980px #ffa000, 1147px 1663px #ffa000,
    1616px 1436px #ffa000, 528px 710px #ffa000, 798px 1100px #ffa000, 505px 1480px #ffa000,
    899px 641px #ffa000, 1909px 1949px #ffa000, 1311px 964px #ffa000, 979px 1301px #ffa000,
    1393px 969px #ffa000, 1793px 1886px #ffa000, 292px 357px #ffa000, 1196px 1718px #ffa000,
    1290px 1994px #ffa000, 537px 1973px #ffa000, 1181px 1674px #ffa000,
    1740px 1566px #ffa000, 1307px 265px #ffa000, 922px 522px #ffa000, 1892px 472px #ffa000,
    384px 1746px #ffa000, 392px 1098px #ffa000, 647px 548px #ffa000, 390px 1498px #ffa000,
    1246px 138px #ffa000, 730px 876px #ffa000, 192px 1472px #ffa000, 1790px 1789px #ffa000,
    928px 311px #ffa000, 1253px 1647px #ffa000, 747px 1921px #ffa000, 1561px 1025px #ffa000,
    1533px 1292px #ffa000, 1985px 195px #ffa000, 728px 729px #ffa000, 1712px 1936px #ffa000,
    512px 1717px #ffa000, 1528px 483px #ffa000, 313px 1642px #ffa000, 281px 1849px #ffa000,
    1212px 799px #ffa000, 435px 1191px #ffa000, 1422px 611px #ffa000, 1718px 1964px #ffa000,
    411px 944px #ffa000, 210px 636px #ffa000, 1502px 1295px #ffa000, 1434px 349px #ffa000,
    769px 60px #ffa000, 747px 1053px #ffa000, 789px 504px #ffa000, 1436px 1264px #ffa000,
    1893px 1225px #ffa000, 1394px 1788px #ffa000, 1108px 1317px #ffa000,
    1673px 1395px #ffa000, 854px 1010px #ffa000, 1705px 80px #ffa000, 1858px 148px #ffa000,
    1729px 344px #ffa000, 1388px 664px #ffa000, 895px 406px #ffa000, 1479px 157px #ffa000,
    1441px 1157px #ffa000, 552px 1900px #ffa000, 516px 364px #ffa000, 1647px 189px #ffa000,
    1427px 1071px #ffa000, 785px 729px #ffa000, 1080px 1710px #ffa000, 504px 204px #ffa000,
    1177px 1622px #ffa000, 657px 34px #ffa000, 1296px 1099px #ffa000, 248px 180px #ffa000,
    1212px 1568px #ffa000, 667px 1562px #ffa000, 695px 841px #ffa000, 1608px 1247px #ffa000,
    751px 882px #ffa000, 87px 167px #ffa000, 607px 1368px #ffa000, 1363px 1203px #ffa000,
    1836px 317px #ffa000, 1668px 1703px #ffa000, 830px 1154px #ffa000, 1721px 1398px #ffa000,
    1601px 1280px #ffa000, 976px 874px #ffa000, 1743px 254px #ffa000, 1020px 1815px #ffa000,
    1670px 1766px #ffa000, 1890px 735px #ffa000, 1379px 136px #ffa000, 1864px 695px #ffa000,
    206px 965px #ffa000, 1404px 1932px #ffa000, 1923px 1360px #ffa000, 247px 682px #ffa000,
    519px 1708px #ffa000, 645px 750px #ffa000, 1164px 1204px #ffa000, 834px 323px #ffa000,
    172px 1350px #ffa000, 213px 972px #ffa000, 1837px 190px #ffa000, 285px 1806px #ffa000,
    1047px 1299px #ffa000, 1548px 825px #ffa000, 1730px 324px #ffa000, 1346px 1909px #ffa000,
    772px 270px #ffa000, 345px 1190px #ffa000, 478px 1433px #ffa000, 1479px 25px #ffa000,
    1994px 1830px #ffa000, 1744px 732px #ffa000, 20px 1635px #ffa000, 690px 1795px #ffa000,
    1594px 569px #ffa000, 579px 245px #ffa000, 1398px 733px #ffa000, 408px 1352px #ffa000,
    1774px 120px #ffa000, 1152px 1370px #ffa000, 1698px 1810px #ffa000, 710px 1450px #ffa000,
    665px 286px #ffa000, 493px 1720px #ffa000, 786px 5px #ffa000, 637px 1140px #ffa000,
    764px 324px #ffa000, 927px 310px #ffa000, 938px 1424px #ffa000, 1884px 744px #ffa000,
    913px 462px #ffa000, 1831px 1936px #ffa000, 1527px 249px #ffa000, 36px 1381px #ffa000,
    1597px 581px #ffa000, 1530px 355px #ffa000, 949px 459px #ffa000, 799px 828px #ffa000,
    242px 1471px #ffa000, 654px 797px #ffa000, 796px 594px #ffa000, 1365px 678px #ffa000,
    752px 23px #ffa000, 1630px 541px #ffa000, 982px 72px #ffa000, 1733px 1831px #ffa000,
    21px 412px #ffa000, 775px 998px #ffa000, 335px 1945px #ffa000, 264px 583px #ffa000,
    158px 1311px #ffa000, 528px 164px #ffa000, 1978px 574px #ffa000, 717px 1203px #ffa000,
    734px 1591px #ffa000, 1555px 820px #ffa000, 16px 1943px #ffa000, 1625px 1177px #ffa000,
    1236px 690px #ffa000, 1585px 1590px #ffa000, 1737px 1728px #ffa000, 721px 698px #ffa000,
    1804px 1186px #ffa000, 166px 980px #ffa000, 1850px 230px #ffa000, 330px 1712px #ffa000,
    95px 797px #ffa000, 1948px 1078px #ffa000, 469px 939px #ffa000, 1269px 1899px #ffa000,
    955px 1220px #ffa000, 1137px 1075px #ffa000, 312px 1293px #ffa000, 986px 1762px #ffa000,
    1103px 1238px #ffa000, 428px 1993px #ffa000, 355px 570px #ffa000, 977px 1836px #ffa000,
    1395px 1092px #ffa000, 276px 913px #ffa000, 1743px 656px #ffa000, 773px 502px #ffa000,
    1686px 1322px #ffa000, 1516px 1945px #ffa000, 1334px 501px #ffa000, 266px 156px #ffa000,
    455px 655px #ffa000, 798px 72px #ffa000, 1059px 1259px #ffa000, 1402px 1687px #ffa000,
    236px 1329px #ffa000, 1455px 786px #ffa000, 146px 1228px #ffa000, 1851px 823px #ffa000,
    1062px 100px #ffa000, 1220px 953px #ffa000, 20px 1826px #ffa000, 36px 1063px #ffa000,
    1525px 338px #ffa000, 790px 1521px #ffa000, 741px 1099px #ffa000, 288px 1489px #ffa000,
    700px 1060px #ffa000, 390px 1071px #ffa000, 411px 1036px #ffa000, 1853px 1072px #ffa000,
    1446px 1085px #ffa000, 1164px 874px #ffa000, 924px 925px #ffa000, 291px 271px #ffa000,
    1257px 1964px #ffa000, 1580px 1352px #ffa000, 1507px 1216px #ffa000, 211px 956px #ffa000,
    985px 1195px #ffa000, 975px 1640px #ffa000, 518px 101px #ffa000, 663px 1395px #ffa000,
    914px 532px #ffa000, 145px 1320px #ffa000, 69px 1397px #ffa000, 982px 523px #ffa000,
    257px 725px #ffa000, 1599px 831px #ffa000, 1636px 1513px #ffa000, 1250px 1158px #ffa000,
    1132px 604px #ffa000, 183px 102px #ffa000, 1057px 318px #ffa000, 1247px 1835px #ffa000,
    1983px 1110px #ffa000, 1077px 1455px #ffa000, 921px 1770px #ffa000, 806px 1350px #ffa000,
    1938px 1992px #ffa000, 855px 1260px #ffa000, 902px 1345px #ffa000, 658px 1908px #ffa000,
    1845px 679px #ffa000, 712px 1482px #ffa000, 595px 950px #ffa000, 1784px 1992px #ffa000,
    1847px 1785px #ffa000, 691px 1004px #ffa000, 175px 1179px #ffa000, 1666px 1911px #ffa000,
    41px 61px #ffa000, 971px 1080px #ffa000, 1830px 1450px #ffa000, 1351px 1518px #ffa000,
    1257px 99px #ffa000, 1395px 1498px #ffa000, 1117px 252px #ffa000, 1779px 597px #ffa000,
    1346px 729px #ffa000, 1108px 1144px #ffa000, 402px 691px #ffa000, 72px 496px #ffa000,
    1673px 1604px #ffa000, 1497px 974px #ffa000, 1865px 1664px #ffa000, 88px 806px #ffa000,
    918px 77px #ffa000, 244px 1118px #ffa000, 256px 1820px #ffa000, 1851px 1840px #ffa000,
    605px 1851px #ffa000, 634px 383px #ffa000, 865px 37px #ffa000, 943px 1024px #ffa000,
    1951px 177px #ffa000, 1097px 523px #ffa000, 985px 1700px #ffa000, 1243px 122px #ffa000,
    768px 1070px #ffa000, 468px 194px #ffa000, 320px 1867px #ffa000, 1850px 185px #ffa000,
    380px 1616px #ffa000, 468px 1294px #ffa000, 1122px 1743px #ffa000, 884px 299px #ffa000,
    1300px 1917px #ffa000, 1860px 396px #ffa000, 1270px 990px #ffa000, 529px 733px #ffa000,
    1975px 1347px #ffa000, 1885px 685px #ffa000, 226px 506px #ffa000, 651px 878px #ffa000,
    1323px 680px #ffa000, 1284px 680px #ffa000, 238px 1967px #ffa000, 911px 174px #ffa000,
    1111px 521px #ffa000, 1150px 85px #ffa000, 794px 502px #ffa000, 484px 1856px #ffa000,
    1809px 368px #ffa000, 112px 953px #ffa000, 590px 1009px #ffa000, 1655px 311px #ffa000,
    100px 1026px #ffa000, 1803px 352px #ffa000, 865px 306px #ffa000, 1077px 1019px #ffa000,
    1335px 872px #ffa000, 1647px 1298px #ffa000, 1233px 1387px #ffa000, 698px 1036px #ffa000,
    659px 1860px #ffa000, 388px 1412px #ffa000, 1212px 458px #ffa000, 755px 1468px #ffa000,
    696px 1654px #ffa000, 1144px 60px #ffa000;
}

#stars:after {
  content: '';
  position: absolute;
  top: 70px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #ffa000, 324px 42px #ffa000, 303px 586px #ffa000,
    1312px 276px #ffa000, 451px 625px #ffa000, 521px 1931px #ffa000, 1087px 1871px #ffa000,
    36px 1546px #ffa000, 132px 934px #ffa000, 1698px 901px #ffa000, 1418px 664px #ffa000,
    1448px 1157px #ffa000, 1084px 232px #ffa000, 347px 1776px #ffa000, 1722px 243px #ffa000,
    1629px 835px #ffa000, 479px 969px #ffa000, 1231px 960px #ffa000, 586px 384px #ffa000,
    164px 527px #ffa000, 8px 646px #ffa000, 1150px 1126px #ffa000, 665px 1357px #ffa000,
    1556px 1982px #ffa000, 1260px 1961px #ffa000, 1675px 1741px #ffa000,
    1843px 1514px #ffa000, 718px 1628px #ffa000, 242px 1343px #ffa000, 1497px 1880px #ffa000,
    1364px 230px #ffa000, 1739px 1302px #ffa000, 636px 959px #ffa000, 304px 686px #ffa000,
    614px 751px #ffa000, 1935px 816px #ffa000, 1428px 60px #ffa000, 355px 335px #ffa000,
    1594px 158px #ffa000, 90px 60px #ffa000, 1553px 162px #ffa000, 1239px 1825px #ffa000,
    1945px 587px #ffa000, 749px 1785px #ffa000, 1987px 1172px #ffa000, 1301px 1237px #ffa000,
    1039px 342px #ffa000, 1585px 1481px #ffa000, 995px 1048px #ffa000, 524px 932px #ffa000,
    214px 413px #ffa000, 1701px 1300px #ffa000, 1037px 1613px #ffa000, 1871px 996px #ffa000,
    1360px 1635px #ffa000, 1110px 1313px #ffa000, 412px 1783px #ffa000, 1949px 177px #ffa000,
    903px 1854px #ffa000, 700px 1936px #ffa000, 378px 125px #ffa000, 308px 834px #ffa000,
    1118px 962px #ffa000, 1350px 1929px #ffa000, 781px 1811px #ffa000, 561px 137px #ffa000,
    757px 1148px #ffa000, 1670px 1979px #ffa000, 343px 739px #ffa000, 945px 795px #ffa000,
    576px 1903px #ffa000, 1078px 1436px #ffa000, 1583px 450px #ffa000, 1366px 474px #ffa000,
    297px 1873px #ffa000, 192px 162px #ffa000, 1624px 1633px #ffa000, 59px 453px #ffa000,
    82px 1872px #ffa000, 1933px 498px #ffa000, 1966px 1974px #ffa000, 1975px 1688px #ffa000,
    779px 314px #ffa000, 1858px 1543px #ffa000, 73px 1507px #ffa000, 1693px 975px #ffa000,
    1683px 108px #ffa000, 1768px 1654px #ffa000, 654px 14px #ffa000, 494px 171px #ffa000,
    1689px 1895px #ffa000, 1660px 263px #ffa000, 1031px 903px #ffa000, 1203px 1393px #ffa000,
    1333px 1421px #ffa000, 1113px 41px #ffa000, 1206px 1645px #ffa000, 1325px 1635px #ffa000,
    142px 388px #ffa000, 572px 215px #ffa000, 1535px 296px #ffa000, 1419px 407px #ffa000,
    1379px 1003px #ffa000, 329px 469px #ffa000, 1791px 1652px #ffa000, 935px 1802px #ffa000,
    1330px 1820px #ffa000, 421px 1933px #ffa000, 828px 365px #ffa000, 275px 316px #ffa000,
    707px 960px #ffa000, 1605px 1554px #ffa000, 625px 58px #ffa000, 717px 1697px #ffa000,
    1669px 246px #ffa000, 1925px 322px #ffa000, 1154px 1803px #ffa000, 1929px 295px #ffa000,
    1248px 240px #ffa000, 1045px 1755px #ffa000, 166px 942px #ffa000, 1888px 1773px #ffa000,
    678px 1963px #ffa000, 1370px 569px #ffa000, 1974px 1400px #ffa000, 1786px 460px #ffa000,
    51px 307px #ffa000, 784px 1400px #ffa000, 730px 1258px #ffa000, 1712px 393px #ffa000,
    416px 170px #ffa000, 1797px 1932px #ffa000, 572px 219px #ffa000, 1557px 1856px #ffa000,
    218px 8px #ffa000, 348px 1334px #ffa000, 469px 413px #ffa000, 385px 1738px #ffa000,
    1357px 1818px #ffa000, 240px 942px #ffa000, 248px 1847px #ffa000, 1535px 806px #ffa000,
    236px 1514px #ffa000, 1429px 1556px #ffa000, 73px 1633px #ffa000, 1398px 1121px #ffa000,
    671px 1301px #ffa000, 1404px 1663px #ffa000, 740px 1018px #ffa000, 1600px 377px #ffa000,
    785px 514px #ffa000, 112px 1084px #ffa000, 1915px 1887px #ffa000, 1463px 1848px #ffa000,
    687px 1115px #ffa000, 1268px 1768px #ffa000, 1729px 1425px #ffa000,
    1284px 1022px #ffa000, 801px 974px #ffa000, 1975px 1317px #ffa000, 1354px 834px #ffa000,
    1446px 1484px #ffa000, 1283px 1786px #ffa000, 11px 523px #ffa000, 1842px 236px #ffa000,
    1355px 654px #ffa000, 429px 7px #ffa000, 1033px 1128px #ffa000, 157px 297px #ffa000,
    545px 635px #ffa000, 52px 1080px #ffa000, 827px 1520px #ffa000, 1121px 490px #ffa000,
    9px 309px #ffa000, 1744px 1586px #ffa000, 1014px 417px #ffa000, 1534px 524px #ffa000,
    958px 552px #ffa000, 1403px 1496px #ffa000, 387px 703px #ffa000, 1522px 548px #ffa000,
    1355px 282px #ffa000, 1532px 601px #ffa000, 1838px 790px #ffa000, 290px 259px #ffa000,
    295px 598px #ffa000, 1601px 539px #ffa000, 1561px 1272px #ffa000, 34px 1922px #ffa000,
    1024px 543px #ffa000, 467px 369px #ffa000, 722px 333px #ffa000, 1976px 1255px #ffa000,
    766px 983px #ffa000, 1582px 1285px #ffa000, 12px 512px #ffa000, 617px 1410px #ffa000,
    682px 577px #ffa000, 1334px 1438px #ffa000, 439px 327px #ffa000, 1617px 1661px #ffa000,
    673px 129px #ffa000, 794px 941px #ffa000, 1386px 1902px #ffa000, 37px 1353px #ffa000,
    1467px 1353px #ffa000, 416px 18px #ffa000, 187px 344px #ffa000, 200px 1898px #ffa000,
    1491px 1619px #ffa000, 811px 347px #ffa000, 924px 1827px #ffa000, 945px 217px #ffa000,
    1735px 1228px #ffa000, 379px 1890px #ffa000, 79px 761px #ffa000, 825px 1837px #ffa000,
    1980px 1558px #ffa000, 1308px 1573px #ffa000, 1488px 1726px #ffa000,
    382px 1208px #ffa000, 522px 595px #ffa000, 1277px 1898px #ffa000, 354px 552px #ffa000,
    161px 1784px #ffa000, 614px 251px #ffa000, 526px 1576px #ffa000, 17px 212px #ffa000,
    179px 996px #ffa000, 467px 1208px #ffa000, 1944px 1838px #ffa000, 1140px 1093px #ffa000,
    858px 1007px #ffa000, 200px 1064px #ffa000, 423px 1964px #ffa000, 1945px 439px #ffa000,
    1377px 689px #ffa000, 1120px 1437px #ffa000, 1876px 668px #ffa000, 907px 1324px #ffa000,
    343px 1976px #ffa000, 1816px 1501px #ffa000, 1849px 177px #ffa000, 647px 91px #ffa000,
    1984px 1012px #ffa000, 1336px 1300px #ffa000, 128px 648px #ffa000, 305px 1060px #ffa000,
    1324px 826px #ffa000, 1263px 1314px #ffa000, 1801px 629px #ffa000, 1614px 1555px #ffa000,
    1634px 90px #ffa000, 1603px 452px #ffa000, 891px 1984px #ffa000, 1556px 1906px #ffa000,
    121px 68px #ffa000, 1676px 1714px #ffa000, 516px 936px #ffa000, 1947px 1492px #ffa000,
    1455px 1519px #ffa000, 45px 602px #ffa000, 205px 1039px #ffa000, 793px 172px #ffa000,
    1562px 1739px #ffa000, 1056px 110px #ffa000, 1512px 379px #ffa000, 1795px 1621px #ffa000,
    1848px 607px #ffa000, 262px 1719px #ffa000, 477px 991px #ffa000, 483px 883px #ffa000,
    1239px 1197px #ffa000, 1496px 647px #ffa000, 1649px 25px #ffa000, 1491px 1946px #ffa000,
    119px 996px #ffa000, 179px 1472px #ffa000, 1341px 808px #ffa000, 1565px 1700px #ffa000,
    407px 1544px #ffa000, 1754px 357px #ffa000, 1288px 981px #ffa000, 902px 1997px #ffa000,
    1755px 1668px #ffa000, 186px 877px #ffa000, 1202px 1882px #ffa000, 461px 1213px #ffa000,
    1400px 748px #ffa000, 1969px 1899px #ffa000, 809px 522px #ffa000, 514px 1219px #ffa000,
    374px 275px #ffa000, 938px 1973px #ffa000, 357px 552px #ffa000, 144px 1722px #ffa000,
    1572px 912px #ffa000, 402px 1858px #ffa000, 1544px 1195px #ffa000, 667px 1257px #ffa000,
    727px 1496px #ffa000, 993px 232px #ffa000, 1772px 313px #ffa000, 1040px 1590px #ffa000,
    1204px 1973px #ffa000, 1268px 79px #ffa000, 1555px 1048px #ffa000, 986px 1707px #ffa000,
    978px 1710px #ffa000, 713px 360px #ffa000, 407px 863px #ffa000, 461px 736px #ffa000,
    284px 1608px #ffa000, 103px 430px #ffa000, 1283px 1319px #ffa000, 977px 1186px #ffa000,
    1966px 1516px #ffa000, 1287px 1129px #ffa000, 70px 1098px #ffa000, 1189px 889px #ffa000,
    1126px 1734px #ffa000, 309px 1292px #ffa000, 879px 764px #ffa000, 65px 473px #ffa000,
    1003px 1959px #ffa000, 658px 791px #ffa000, 402px 1576px #ffa000, 35px 622px #ffa000,
    529px 1589px #ffa000, 164px 666px #ffa000, 1876px 1290px #ffa000, 1541px 526px #ffa000,
    270px 1297px #ffa000, 440px 865px #ffa000, 1500px 802px #ffa000, 182px 1754px #ffa000,
    1264px 892px #ffa000, 272px 1249px #ffa000, 1289px 1535px #ffa000, 190px 1646px #ffa000,
    955px 242px #ffa000, 1456px 1597px #ffa000, 1727px 1983px #ffa000, 635px 801px #ffa000,
    226px 455px #ffa000, 1396px 1710px #ffa000, 849px 1863px #ffa000, 237px 1264px #ffa000,
    839px 140px #ffa000, 1122px 735px #ffa000, 1280px 15px #ffa000, 1318px 242px #ffa000,
    1819px 1148px #ffa000, 333px 1392px #ffa000, 1949px 553px #ffa000, 1878px 1332px #ffa000,
    467px 548px #ffa000, 1812px 1082px #ffa000, 1067px 193px #ffa000, 243px 156px #ffa000,
    483px 1616px #ffa000, 1714px 933px #ffa000, 759px 1800px #ffa000, 1822px 995px #ffa000,
    1877px 572px #ffa000, 581px 1084px #ffa000, 107px 732px #ffa000, 642px 1837px #ffa000,
    166px 1493px #ffa000, 1555px 198px #ffa000, 819px 307px #ffa000, 947px 345px #ffa000,
    827px 224px #ffa000, 927px 1394px #ffa000, 540px 467px #ffa000, 1093px 405px #ffa000,
    1140px 927px #ffa000, 130px 529px #ffa000, 33px 1980px #ffa000, 1147px 1663px #ffa000,
    1616px 1436px #ffa000, 528px 710px #ffa000, 798px 1100px #ffa000, 505px 1480px #ffa000,
    899px 641px #ffa000, 1909px 1949px #ffa000, 1311px 964px #ffa000, 979px 1301px #ffa000,
    1393px 969px #ffa000, 1793px 1886px #ffa000, 292px 357px #ffa000, 1196px 1718px #ffa000,
    1290px 1994px #ffa000, 537px 1973px #ffa000, 1181px 1674px #ffa000,
    1740px 1566px #ffa000, 1307px 265px #ffa000, 922px 522px #ffa000, 1892px 472px #ffa000,
    384px 1746px #ffa000, 392px 1098px #ffa000, 647px 548px #ffa000, 390px 1498px #ffa000,
    1246px 138px #ffa000, 730px 876px #ffa000, 192px 1472px #ffa000, 1790px 1789px #ffa000,
    928px 311px #ffa000, 1253px 1647px #ffa000, 747px 1921px #ffa000, 1561px 1025px #ffa000,
    1533px 1292px #ffa000, 1985px 195px #ffa000, 728px 729px #ffa000, 1712px 1936px #ffa000,
    512px 1717px #ffa000, 1528px 483px #ffa000, 313px 1642px #ffa000, 281px 1849px #ffa000,
    1212px 799px #ffa000, 435px 1191px #ffa000, 1422px 611px #ffa000, 1718px 1964px #ffa000,
    411px 944px #ffa000, 210px 636px #ffa000, 1502px 1295px #ffa000, 1434px 349px #ffa000,
    769px 60px #ffa000, 747px 1053px #ffa000, 789px 504px #ffa000, 1436px 1264px #ffa000,
    1893px 1225px #ffa000, 1394px 1788px #ffa000, 1108px 1317px #ffa000,
    1673px 1395px #ffa000, 854px 1010px #ffa000, 1705px 80px #ffa000, 1858px 148px #ffa000,
    1729px 344px #ffa000, 1388px 664px #ffa000, 895px 406px #ffa000, 1479px 157px #ffa000,
    1441px 1157px #ffa000, 552px 1900px #ffa000, 516px 364px #ffa000, 1647px 189px #ffa000,
    1427px 1071px #ffa000, 785px 729px #ffa000, 1080px 1710px #ffa000, 504px 204px #ffa000,
    1177px 1622px #ffa000, 657px 34px #ffa000, 1296px 1099px #ffa000, 248px 180px #ffa000,
    1212px 1568px #ffa000, 667px 1562px #ffa000, 695px 841px #ffa000, 1608px 1247px #ffa000,
    751px 882px #ffa000, 87px 167px #ffa000, 607px 1368px #ffa000, 1363px 1203px #ffa000,
    1836px 317px #ffa000, 1668px 1703px #ffa000, 830px 1154px #ffa000, 1721px 1398px #ffa000,
    1601px 1280px #ffa000, 976px 874px #ffa000, 1743px 254px #ffa000, 1020px 1815px #ffa000,
    1670px 1766px #ffa000, 1890px 735px #ffa000, 1379px 136px #ffa000, 1864px 695px #ffa000,
    206px 965px #ffa000, 1404px 1932px #ffa000, 1923px 1360px #ffa000, 247px 682px #ffa000,
    519px 1708px #ffa000, 645px 750px #ffa000, 1164px 1204px #ffa000, 834px 323px #ffa000,
    172px 1350px #ffa000, 213px 972px #ffa000, 1837px 190px #ffa000, 285px 1806px #ffa000,
    1047px 1299px #ffa000, 1548px 825px #ffa000, 1730px 324px #ffa000, 1346px 1909px #ffa000,
    772px 270px #ffa000, 345px 1190px #ffa000, 478px 1433px #ffa000, 1479px 25px #ffa000,
    1994px 1830px #ffa000, 1744px 732px #ffa000, 20px 1635px #ffa000, 690px 1795px #ffa000,
    1594px 569px #ffa000, 579px 245px #ffa000, 1398px 733px #ffa000, 408px 1352px #ffa000,
    1774px 120px #ffa000, 1152px 1370px #ffa000, 1698px 1810px #ffa000, 710px 1450px #ffa000,
    665px 286px #ffa000, 493px 1720px #ffa000, 786px 5px #ffa000, 637px 1140px #ffa000,
    764px 324px #ffa000, 927px 310px #ffa000, 938px 1424px #ffa000, 1884px 744px #ffa000,
    913px 462px #ffa000, 1831px 1936px #ffa000, 1527px 249px #ffa000, 36px 1381px #ffa000,
    1597px 581px #ffa000, 1530px 355px #ffa000, 949px 459px #ffa000, 799px 828px #ffa000,
    242px 1471px #ffa000, 654px 797px #ffa000, 796px 594px #ffa000, 1365px 678px #ffa000,
    752px 23px #ffa000, 1630px 541px #ffa000, 982px 72px #ffa000, 1733px 1831px #ffa000,
    21px 412px #ffa000, 775px 998px #ffa000, 335px 1945px #ffa000, 264px 583px #ffa000,
    158px 1311px #ffa000, 528px 164px #ffa000, 1978px 574px #ffa000, 717px 1203px #ffa000,
    734px 1591px #ffa000, 1555px 820px #ffa000, 16px 1943px #ffa000, 1625px 1177px #ffa000,
    1236px 690px #ffa000, 1585px 1590px #ffa000, 1737px 1728px #ffa000, 721px 698px #ffa000,
    1804px 1186px #ffa000, 166px 980px #ffa000, 1850px 230px #ffa000, 330px 1712px #ffa000,
    95px 797px #ffa000, 1948px 1078px #ffa000, 469px 939px #ffa000, 1269px 1899px #ffa000,
    955px 1220px #ffa000, 1137px 1075px #ffa000, 312px 1293px #ffa000, 986px 1762px #ffa000,
    1103px 1238px #ffa000, 428px 1993px #ffa000, 355px 570px #ffa000, 977px 1836px #ffa000,
    1395px 1092px #ffa000, 276px 913px #ffa000, 1743px 656px #ffa000, 773px 502px #ffa000,
    1686px 1322px #ffa000, 1516px 1945px #ffa000, 1334px 501px #ffa000, 266px 156px #ffa000,
    455px 655px #ffa000, 798px 72px #ffa000, 1059px 1259px #ffa000, 1402px 1687px #ffa000,
    236px 1329px #ffa000, 1455px 786px #ffa000, 146px 1228px #ffa000, 1851px 823px #ffa000,
    1062px 100px #ffa000, 1220px 953px #ffa000, 20px 1826px #ffa000, 36px 1063px #ffa000,
    1525px 338px #ffa000, 790px 1521px #ffa000, 741px 1099px #ffa000, 288px 1489px #ffa000,
    700px 1060px #ffa000, 390px 1071px #ffa000, 411px 1036px #ffa000, 1853px 1072px #ffa000,
    1446px 1085px #ffa000, 1164px 874px #ffa000, 924px 925px #ffa000, 291px 271px #ffa000,
    1257px 1964px #ffa000, 1580px 1352px #ffa000, 1507px 1216px #ffa000, 211px 956px #ffa000,
    985px 1195px #ffa000, 975px 1640px #ffa000, 518px 101px #ffa000, 663px 1395px #ffa000,
    914px 532px #ffa000, 145px 1320px #ffa000, 69px 1397px #ffa000, 982px 523px #ffa000,
    257px 725px #ffa000, 1599px 831px #ffa000, 1636px 1513px #ffa000, 1250px 1158px #ffa000,
    1132px 604px #ffa000, 183px 102px #ffa000, 1057px 318px #ffa000, 1247px 1835px #ffa000,
    1983px 1110px #ffa000, 1077px 1455px #ffa000, 921px 1770px #ffa000, 806px 1350px #ffa000,
    1938px 1992px #ffa000, 855px 1260px #ffa000, 902px 1345px #ffa000, 658px 1908px #ffa000,
    1845px 679px #ffa000, 712px 1482px #ffa000, 595px 950px #ffa000, 1784px 1992px #ffa000,
    1847px 1785px #ffa000, 691px 1004px #ffa000, 175px 1179px #ffa000, 1666px 1911px #ffa000,
    41px 61px #ffa000, 971px 1080px #ffa000, 1830px 1450px #ffa000, 1351px 1518px #ffa000,
    1257px 99px #ffa000, 1395px 1498px #ffa000, 1117px 252px #ffa000, 1779px 597px #ffa000,
    1346px 729px #ffa000, 1108px 1144px #ffa000, 402px 691px #ffa000, 72px 496px #ffa000,
    1673px 1604px #ffa000, 1497px 974px #ffa000, 1865px 1664px #ffa000, 88px 806px #ffa000,
    918px 77px #ffa000, 244px 1118px #ffa000, 256px 1820px #ffa000, 1851px 1840px #ffa000,
    605px 1851px #ffa000, 634px 383px #ffa000, 865px 37px #ffa000, 943px 1024px #ffa000,
    1951px 177px #ffa000, 1097px 523px #ffa000, 985px 1700px #ffa000, 1243px 122px #ffa000,
    768px 1070px #ffa000, 468px 194px #ffa000, 320px 1867px #ffa000, 1850px 185px #ffa000,
    380px 1616px #ffa000, 468px 1294px #ffa000, 1122px 1743px #ffa000, 884px 299px #ffa000,
    1300px 1917px #ffa000, 1860px 396px #ffa000, 1270px 990px #ffa000, 529px 733px #ffa000,
    1975px 1347px #ffa000, 1885px 685px #ffa000, 226px 506px #ffa000, 651px 878px #ffa000,
    1323px 680px #ffa000, 1284px 680px #ffa000, 238px 1967px #ffa000, 911px 174px #ffa000,
    1111px 521px #ffa000, 1150px 85px #ffa000, 794px 502px #ffa000, 484px 1856px #ffa000,
    1809px 368px #ffa000, 112px 953px #ffa000, 590px 1009px #ffa000, 1655px 311px #ffa000,
    100px 1026px #ffa000, 1803px 352px #ffa000, 865px 306px #ffa000, 1077px 1019px #ffa000,
    1335px 872px #ffa000, 1647px 1298px #ffa000, 1233px 1387px #ffa000, 698px 1036px #ffa000,
    659px 1860px #ffa000, 388px 1412px #ffa000, 1212px 458px #ffa000, 755px 1468px #ffa000,
    696px 1654px #ffa000, 1144px 60px #ffa000;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar 200s linear infinite;
  box-shadow: 1448px 320px #ffa000, 1775px 1663px #ffa000, 332px 1364px #ffa000,
    878px 340px #ffa000, 569px 1832px #ffa000, 1422px 1684px #ffa000, 1946px 1907px #ffa000,
    121px 979px #ffa000, 1044px 1069px #ffa000, 463px 381px #ffa000, 423px 112px #ffa000,
    523px 1179px #ffa000, 779px 654px #ffa000, 1398px 694px #ffa000, 1085px 1464px #ffa000,
    1599px 1869px #ffa000, 801px 1882px #ffa000, 779px 1231px #ffa000, 552px 932px #ffa000,
    1057px 1196px #ffa000, 282px 1280px #ffa000, 496px 1986px #ffa000, 1833px 1120px #ffa000,
    1802px 1293px #ffa000, 6px 1696px #ffa000, 412px 1902px #ffa000, 605px 438px #ffa000,
    24px 1212px #ffa000, 234px 1320px #ffa000, 544px 344px #ffa000, 1107px 170px #ffa000,
    1603px 196px #ffa000, 905px 648px #ffa000, 68px 1458px #ffa000, 649px 1969px #ffa000,
    744px 675px #ffa000, 1127px 478px #ffa000, 714px 1814px #ffa000, 1486px 526px #ffa000,
    270px 1636px #ffa000, 1931px 149px #ffa000, 1807px 378px #ffa000, 8px 390px #ffa000,
    1415px 699px #ffa000, 1473px 1211px #ffa000, 1590px 141px #ffa000, 270px 1705px #ffa000,
    69px 1423px #ffa000, 1108px 1053px #ffa000, 1946px 128px #ffa000, 371px 371px #ffa000,
    1490px 220px #ffa000, 357px 1885px #ffa000, 363px 363px #ffa000, 1896px 1256px #ffa000,
    1979px 1050px #ffa000, 947px 1342px #ffa000, 1754px 242px #ffa000, 514px 974px #ffa000,
    65px 1477px #ffa000, 1840px 547px #ffa000, 950px 695px #ffa000, 459px 1150px #ffa000,
    1124px 1502px #ffa000, 481px 940px #ffa000, 680px 839px #ffa000, 797px 1169px #ffa000,
    1977px 1491px #ffa000, 734px 1724px #ffa000, 210px 298px #ffa000, 816px 628px #ffa000,
    686px 770px #ffa000, 1721px 267px #ffa000, 1663px 511px #ffa000, 1481px 1141px #ffa000,
    582px 248px #ffa000, 1308px 953px #ffa000, 628px 657px #ffa000, 897px 1535px #ffa000,
    270px 931px #ffa000, 791px 467px #ffa000, 1336px 1732px #ffa000, 1013px 1653px #ffa000,
    1911px 956px #ffa000, 587px 816px #ffa000, 83px 456px #ffa000, 930px 1478px #ffa000,
    1587px 1694px #ffa000, 614px 1200px #ffa000, 302px 1782px #ffa000, 1711px 1432px #ffa000,
    443px 904px #ffa000, 1666px 714px #ffa000, 1588px 1167px #ffa000, 273px 1075px #ffa000,
    1679px 461px #ffa000, 721px 664px #ffa000, 1202px 10px #ffa000, 166px 1126px #ffa000,
    331px 1628px #ffa000, 430px 1565px #ffa000, 1585px 509px #ffa000, 640px 38px #ffa000,
    822px 837px #ffa000, 1760px 1664px #ffa000, 1122px 1458px #ffa000, 398px 131px #ffa000,
    689px 285px #ffa000, 460px 652px #ffa000, 1627px 365px #ffa000, 348px 1648px #ffa000,
    819px 1946px #ffa000, 981px 1917px #ffa000, 323px 76px #ffa000, 979px 684px #ffa000,
    887px 536px #ffa000, 1348px 1596px #ffa000, 1055px 666px #ffa000, 1402px 1797px #ffa000,
    1300px 1055px #ffa000, 937px 238px #ffa000, 1474px 1815px #ffa000, 1144px 1710px #ffa000,
    1629px 1087px #ffa000, 911px 919px #ffa000, 771px 819px #ffa000, 403px 720px #ffa000,
    163px 736px #ffa000, 1062px 238px #ffa000, 1774px 818px #ffa000, 1874px 1178px #ffa000,
    1177px 699px #ffa000, 1244px 1244px #ffa000, 1371px 58px #ffa000, 564px 1515px #ffa000,
    1824px 487px #ffa000, 929px 702px #ffa000, 394px 1348px #ffa000, 1161px 641px #ffa000,
    219px 1841px #ffa000, 358px 941px #ffa000, 140px 1759px #ffa000, 1019px 1345px #ffa000,
    274px 436px #ffa000, 1433px 1605px #ffa000, 1798px 1426px #ffa000, 294px 1848px #ffa000,
    1681px 1877px #ffa000, 1344px 1824px #ffa000, 1439px 1632px #ffa000,
    161px 1012px #ffa000, 1308px 588px #ffa000, 1789px 582px #ffa000, 721px 1910px #ffa000,
    318px 218px #ffa000, 607px 319px #ffa000, 495px 535px #ffa000, 1552px 1575px #ffa000,
    1562px 67px #ffa000, 403px 926px #ffa000, 1096px 1800px #ffa000, 1814px 1709px #ffa000,
    1882px 1831px #ffa000, 533px 46px #ffa000, 823px 969px #ffa000, 530px 165px #ffa000,
    1030px 352px #ffa000, 1681px 313px #ffa000, 338px 115px #ffa000, 1607px 211px #ffa000,
    1718px 1184px #ffa000, 1589px 659px #ffa000, 278px 355px #ffa000, 464px 1464px #ffa000,
    1165px 277px #ffa000, 950px 694px #ffa000, 1746px 293px #ffa000, 793px 911px #ffa000,
    528px 773px #ffa000, 1883px 1694px #ffa000, 748px 182px #ffa000, 1924px 1531px #ffa000,
    100px 636px #ffa000, 1473px 1445px #ffa000, 1264px 1244px #ffa000, 850px 1377px #ffa000,
    987px 1976px #ffa000, 933px 1761px #ffa000, 922px 1270px #ffa000, 500px 396px #ffa000,
    1324px 8px #ffa000, 1967px 1814px #ffa000, 1072px 1401px #ffa000, 961px 37px #ffa000,
    156px 81px #ffa000, 1915px 502px #ffa000, 1076px 1846px #ffa000, 152px 1669px #ffa000,
    986px 1529px #ffa000, 1667px 1137px #ffa000;
}

#stars2:after {
  content: '';
  position: absolute;
  top: 70px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #ffa000, 1775px 1663px #ffa000, 332px 1364px #ffa000,
    878px 340px #ffa000, 569px 1832px #ffa000, 1422px 1684px #ffa000, 1946px 1907px #ffa000,
    121px 979px #ffa000, 1044px 1069px #ffa000, 463px 381px #ffa000, 423px 112px #ffa000,
    523px 1179px #ffa000, 779px 654px #ffa000, 1398px 694px #ffa000, 1085px 1464px #ffa000,
    1599px 1869px #ffa000, 801px 1882px #ffa000, 779px 1231px #ffa000, 552px 932px #ffa000,
    1057px 1196px #ffa000, 282px 1280px #ffa000, 496px 1986px #ffa000, 1833px 1120px #ffa000,
    1802px 1293px #ffa000, 6px 1696px #ffa000, 412px 1902px #ffa000, 605px 438px #ffa000,
    24px 1212px #ffa000, 234px 1320px #ffa000, 544px 344px #ffa000, 1107px 170px #ffa000,
    1603px 196px #ffa000, 905px 648px #ffa000, 68px 1458px #ffa000, 649px 1969px #ffa000,
    744px 675px #ffa000, 1127px 478px #ffa000, 714px 1814px #ffa000, 1486px 526px #ffa000,
    270px 1636px #ffa000, 1931px 149px #ffa000, 1807px 378px #ffa000, 8px 390px #ffa000,
    1415px 699px #ffa000, 1473px 1211px #ffa000, 1590px 141px #ffa000, 270px 1705px #ffa000,
    69px 1423px #ffa000, 1108px 1053px #ffa000, 1946px 128px #ffa000, 371px 371px #ffa000,
    1490px 220px #ffa000, 357px 1885px #ffa000, 363px 363px #ffa000, 1896px 1256px #ffa000,
    1979px 1050px #ffa000, 947px 1342px #ffa000, 1754px 242px #ffa000, 514px 974px #ffa000,
    65px 1477px #ffa000, 1840px 547px #ffa000, 950px 695px #ffa000, 459px 1150px #ffa000,
    1124px 1502px #ffa000, 481px 940px #ffa000, 680px 839px #ffa000, 797px 1169px #ffa000,
    1977px 1491px #ffa000, 734px 1724px #ffa000, 210px 298px #ffa000, 816px 628px #ffa000,
    686px 770px #ffa000, 1721px 267px #ffa000, 1663px 511px #ffa000, 1481px 1141px #ffa000,
    582px 248px #ffa000, 1308px 953px #ffa000, 628px 657px #ffa000, 897px 1535px #ffa000,
    270px 931px #ffa000, 791px 467px #ffa000, 1336px 1732px #ffa000, 1013px 1653px #ffa000,
    1911px 956px #ffa000, 587px 816px #ffa000, 83px 456px #ffa000, 930px 1478px #ffa000,
    1587px 1694px #ffa000, 614px 1200px #ffa000, 302px 1782px #ffa000, 1711px 1432px #ffa000,
    443px 904px #ffa000, 1666px 714px #ffa000, 1588px 1167px #ffa000, 273px 1075px #ffa000,
    1679px 461px #ffa000, 721px 664px #ffa000, 1202px 10px #ffa000, 166px 1126px #ffa000,
    331px 1628px #ffa000, 430px 1565px #ffa000, 1585px 509px #ffa000, 640px 38px #ffa000,
    822px 837px #ffa000, 1760px 1664px #ffa000, 1122px 1458px #ffa000, 398px 131px #ffa000,
    689px 285px #ffa000, 460px 652px #ffa000, 1627px 365px #ffa000, 348px 1648px #ffa000,
    819px 1946px #ffa000, 981px 1917px #ffa000, 323px 76px #ffa000, 979px 684px #ffa000,
    887px 536px #ffa000, 1348px 1596px #ffa000, 1055px 666px #ffa000, 1402px 1797px #ffa000,
    1300px 1055px #ffa000, 937px 238px #ffa000, 1474px 1815px #ffa000, 1144px 1710px #ffa000,
    1629px 1087px #ffa000, 911px 919px #ffa000, 771px 819px #ffa000, 403px 720px #ffa000,
    163px 736px #ffa000, 1062px 238px #ffa000, 1774px 818px #ffa000, 1874px 1178px #ffa000,
    1177px 699px #ffa000, 1244px 1244px #ffa000, 1371px 58px #ffa000, 564px 1515px #ffa000,
    1824px 487px #ffa000, 929px 702px #ffa000, 394px 1348px #ffa000, 1161px 641px #ffa000,
    219px 1841px #ffa000, 358px 941px #ffa000, 140px 1759px #ffa000, 1019px 1345px #ffa000,
    274px 436px #ffa000, 1433px 1605px #ffa000, 1798px 1426px #ffa000, 294px 1848px #ffa000,
    1681px 1877px #ffa000, 1344px 1824px #ffa000, 1439px 1632px #ffa000,
    161px 1012px #ffa000, 1308px 588px #ffa000, 1789px 582px #ffa000, 721px 1910px #ffa000,
    318px 218px #ffa000, 607px 319px #ffa000, 495px 535px #ffa000, 1552px 1575px #ffa000,
    1562px 67px #ffa000, 403px 926px #ffa000, 1096px 1800px #ffa000, 1814px 1709px #ffa000,
    1882px 1831px #ffa000, 533px 46px #ffa000, 823px 969px #ffa000, 530px 165px #ffa000,
    1030px 352px #ffa000, 1681px 313px #ffa000, 338px 115px #ffa000, 1607px 211px #ffa000,
    1718px 1184px #ffa000, 1589px 659px #ffa000, 278px 355px #ffa000, 464px 1464px #ffa000,
    1165px 277px #ffa000, 950px 694px #ffa000, 1746px 293px #ffa000, 793px 911px #ffa000,
    528px 773px #ffa000, 1883px 1694px #ffa000, 748px 182px #ffa000, 1924px 1531px #ffa000,
    100px 636px #ffa000, 1473px 1445px #ffa000, 1264px 1244px #ffa000, 850px 1377px #ffa000,
    987px 1976px #ffa000, 933px 1761px #ffa000, 922px 1270px #ffa000, 500px 396px #ffa000,
    1324px 8px #ffa000, 1967px 1814px #ffa000, 1072px 1401px #ffa000, 961px 37px #ffa000,
    156px 81px #ffa000, 1915px 502px #ffa000, 1076px 1846px #ffa000, 152px 1669px #ffa000,
    986px 1529px #ffa000, 1667px 1137px #ffa000;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  animation: animStar 300s linear infinte;
  box-shadow: 387px 1878px #ffa000, 760px 1564px #ffa000, 1487px 999px #ffa000,
    948px 1828px #ffa000, 1977px 1001px #ffa000, 1284px 1963px #ffa000, 656px 284px #ffa000,
    1268px 1635px #ffa000, 1820px 598px #ffa000, 642px 1900px #ffa000, 296px 57px #ffa000,
    921px 1620px #ffa000, 476px 1858px #ffa000, 658px 613px #ffa000, 1171px 1363px #ffa000,
    1419px 283px #ffa000, 1037px 731px #ffa000, 503px 663px #ffa000, 1562px 463px #ffa000,
    383px 1197px #ffa000, 1171px 1233px #ffa000, 876px 1768px #ffa000, 856px 1615px #ffa000,
    1375px 1924px #ffa000, 1725px 918px #ffa000, 952px 119px #ffa000, 768px 1212px #ffa000,
    992px 1462px #ffa000, 1929px 717px #ffa000, 1947px 755px #ffa000, 1818px 1123px #ffa000,
    1896px 1672px #ffa000, 460px 198px #ffa000, 256px 271px #ffa000, 752px 544px #ffa000,
    1222px 1859px #ffa000, 1851px 443px #ffa000, 313px 1858px #ffa000, 709px 446px #ffa000,
    1546px 697px #ffa000, 674px 1155px #ffa000, 1112px 130px #ffa000, 355px 1790px #ffa000,
    1496px 974px #ffa000, 1696px 480px #ffa000, 1316px 1265px #ffa000, 1645px 1063px #ffa000,
    1182px 237px #ffa000, 427px 1582px #ffa000, 859px 253px #ffa000, 458px 939px #ffa000,
    1517px 1644px #ffa000, 1943px 60px #ffa000, 212px 1650px #ffa000, 966px 1786px #ffa000,
    473px 712px #ffa000, 130px 76px #ffa000, 1417px 1186px #ffa000, 909px 1580px #ffa000,
    1913px 762px #ffa000, 204px 1143px #ffa000, 1998px 1057px #ffa000, 1468px 1301px #ffa000,
    144px 1676px #ffa000, 21px 1601px #ffa000, 382px 1362px #ffa000, 912px 753px #ffa000,
    1488px 1405px #ffa000, 802px 156px #ffa000, 174px 550px #ffa000, 338px 1366px #ffa000,
    1197px 774px #ffa000, 602px 486px #ffa000, 682px 1877px #ffa000, 348px 1503px #ffa000,
    407px 1139px #ffa000, 950px 1400px #ffa000, 922px 1139px #ffa000, 1697px 293px #ffa000,
    1238px 1281px #ffa000, 1038px 1197px #ffa000, 376px 1889px #ffa000,
    1255px 1680px #ffa000, 1008px 1316px #ffa000, 1538px 1447px #ffa000,
    1186px 874px #ffa000, 1967px 640px #ffa000, 1341px 19px #ffa000, 29px 1732px #ffa000,
    16px 1650px #ffa000, 1021px 1075px #ffa000, 723px 424px #ffa000, 1175px 41px #ffa000,
    494px 1957px #ffa000, 1296px 431px #ffa000, 175px 1507px #ffa000, 831px 121px #ffa000,
    498px 1947px #ffa000, 617px 880px #ffa000, 240px 403px #ffa000;
}

#stars3:after {
  content: '';
  position: absolute;
  top: 70px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 387px 1878px #ffa000, 760px 1564px #ffa000, 1487px 999px #ffa000,
    948px 1828px #ffa000, 1977px 1001px #ffa000, 1284px 1963px #ffa000, 656px 284px #ffa000,
    1268px 1635px #ffa000, 1820px 598px #ffa000, 642px 1900px #ffa000, 296px 57px #ffa000,
    921px 1620px #ffa000, 476px 1858px #ffa000, 658px 613px #ffa000, 1171px 1363px #ffa000,
    1419px 283px #ffa000, 1037px 731px #ffa000, 503px 663px #ffa000, 1562px 463px #ffa000,
    383px 1197px #ffa000, 1171px 1233px #ffa000, 876px 1768px #ffa000, 856px 1615px #ffa000,
    1375px 1924px #ffa000, 1725px 918px #ffa000, 952px 119px #ffa000, 768px 1212px #ffa000,
    992px 1462px #ffa000, 1929px 717px #ffa000, 1947px 755px #ffa000, 1818px 1123px #ffa000,
    1896px 1672px #ffa000, 460px 198px #ffa000, 256px 271px #ffa000, 752px 544px #ffa000,
    1222px 1859px #ffa000, 1851px 443px #ffa000, 313px 1858px #ffa000, 709px 446px #ffa000,
    1546px 697px #ffa000, 674px 1155px #ffa000, 1112px 130px #ffa000, 355px 1790px #ffa000,
    1496px 974px #ffa000, 1696px 480px #ffa000, 1316px 1265px #ffa000, 1645px 1063px #ffa000,
    1182px 237px #ffa000, 427px 1582px #ffa000, 859px 253px #ffa000, 458px 939px #ffa000,
    1517px 1644px #ffa000, 1943px 60px #ffa000, 212px 1650px #ffa000, 966px 1786px #ffa000,
    473px 712px #ffa000, 130px 76px #ffa000, 1417px 1186px #ffa000, 909px 1580px #ffa000,
    1913px 762px #ffa000, 204px 1143px #ffa000, 1998px 1057px #ffa000, 1468px 1301px #ffa000,
    144px 1676px #ffa000, 21px 1601px #ffa000, 382px 1362px #ffa000, 912px 753px #ffa000,
    1488px 1405px #ffa000, 802px 156px #ffa000, 174px 550px #ffa000, 338px 1366px #ffa000,
    1197px 774px #ffa000, 602px 486px #ffa000, 682px 1877px #ffa000, 348px 1503px #ffa000,
    407px 1139px #ffa000, 950px 1400px #ffa000, 922px 1139px #ffa000, 1697px 293px #ffa000,
    1238px 1281px #ffa000, 1038px 1197px #ffa000, 376px 1889px #ffa000,
    1255px 1680px #ffa000, 1008px 1316px #ffa000, 1538px 1447px #ffa000,
    1186px 874px #ffa000, 1967px 640px #ffa000, 1341px 19px #ffa000, 29px 1732px #ffa000,
    16px 1650px #ffa000, 1021px 1075px #ffa000, 723px 424px #ffa000, 1175px 41px #ffa000,
    494px 1957px #ffa000, 1296px 431px #ffa000, 175px 1507px #ffa000, 831px 121px #ffa000,
    498px 1947px #ffa000, 617px 880px #ffa000, 240px 403px #ffa000;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}