.custom-tabs .nav-tabs {
    border-bottom: none;
    width:100%
}

.custom-tabs .nav-item {
    margin-bottom: 0;
}

.custom-tab-button {
    color: #ffa000 ;
    background-color: transparent !important;
    border-radius: 20px !important;
    padding: 10px 20px;
    margin: 0 10px;
    width: 45dvw !important;
    transition: all 0.2s linear;
}

.custom-tab-button.active {
    color: #000000 !important;
    font: bold !important;
    background-color: #ffa000 !important;
    border: 2px solid #ffa000 !important;
}
